@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #f5f5f5;
}

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .thin-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .thin-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d0cfcf;
    border-radius: 10px;
  }
}
